{% extends 'tank/base.html' %}

{% block body_block %}
<h1>About Langtank</h1>

<h2>What we believe</h2>
<p>We believe that learning a language should be fun. 
Most language learning methods involve reading boring textbooks or doing pointless exercises that never help you get any better. 
Our method allows you to learn new words and phrases quickly so that you can get to talking a soon as possible.
From there, you constantly improve by having fun conversations, learning new words, and reviewing with our 
automatic SRS generator until you're speaking fluently in your target language. Along the way on your language learning journey, 
you'll make a bunch of new friends and have fun being immersed in a new world.</p>

<h2>How it works</h2>
<p>First: you learn how to pronounce words and say basic sentences.</p>
<p>Second: you make friends and chat while trying to communicate and get corrected by your friends.</p>
<p>Third: your new words and sentences get saved to your SRS deck automatically. Our smart SRS algorithm is used to generate review times and
 help you review so you will never have trouble remembering words again.</p>
<p>Finally: immerse yourself in your target language by continuing to make friends and learn until you're fluent.</p>

<h2>Our goal</h2>
<p>Our goal is to become a place where people can have fun, learn languages together, make friends, and not have to worry about 
forgetting words or phrases (our smart automatic in-chat SRS generator has got you covered!).</p>

{% endblock %}